.card-container {
  width: 200px;
  height: 300px;
  cursor: pointer;
  transition: 0.5s;
}

.card {
  width: 200px;
  height: 300px;
  transform-style: preserve-3d;
}

.card-inner {
  width: 200px;
  height: 300px;
  transform-style: preserve-3d;
}

.card-front {
  z-index: 2;
}

.card-front,
.card-back {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 300px;
  position: absolute;
  backface-visibility: hidden;
}

.card-back {
  transform: rotateY(180deg);
}

.passive-card {
  height: 80%;
}

.active-card {
  width: 100%;
  height: 100%;
}



.card-inner:hover > .rarity {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
}

.card-inner:hover > .RARE {
  -webkit-box-shadow: 0px 0px 105px 45px rgba(0, 77, 209, 0.9);
  -moz-box-shadow: 0px 0px 105px 45px rgba(0, 77, 209, 0.9);
  box-shadow: 0px 0px 105px 45px rgba(0, 77, 209, 0.9);
}

.card-inner:hover > .EPIC {
  -webkit-box-shadow: 0px 0px 105px 45px rgba(158, 0, 150, 0.9);
  -moz-box-shadow: 0px 0px 105px 45px rgba(158, 0, 150, 0.9);
  box-shadow: 0px 0px 105px 45px rgba(158, 0, 150, 0.9);
}

.card-inner:hover > .LEGENDARY {
  -webkit-box-shadow: 0px 0px 105px 45px rgba(253, 148, 28, 0.9);
  -moz-box-shadow: 0px 0px 105px 45px rgba(253, 148, 28, 0.9);
  box-shadow: 0px 0px 105px 45px rgba(253, 148, 28, 0.9);
}

.flipped {
  animation: flipping 1s forwards;
}

@keyframes flipping {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(180deg);
  }
}
