.packs {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.pack {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 100px;
    cursor: pointer;
}

.packs-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}